# 2. Exercices non graphiques

## 16.

In [1]:
def fx(t, n):
    
    if n == len(t):
        
        return 0
    
    if t[n] == 0:
        
        return 1+fx(t, n+1)
    
    else:
        
        return fx(t, n+1)

In [2]:
l = [5,3,4,2,0,4,2,0,0,1,0,2]

print(fx(l,0))

4

- Cette fonction compte le nombre de zéros qui'il y a dans un tableau `t`.

## 17.

In [3]:
 def fx(t, n, d, f):
        
        if d > f:
            
            return False
        
        m = (d+f)//2
        
        if t[m] == n:
            
            return True
        
        elif t[m] > n:
            
            return fx(t, n, d, m-1)
        
        else:
            
            return fx(t, n, m+1, f)

In [4]:
l = [1, 4, 8, 9, 12, 17, 21, 25, 90]

print(fx(l, 8, 0, len(l)-1))
print(fx(l, 10, 0, len(l)-1))
print(fx(l, 1, 0, len(l)-1))

True
False
True

- Cherche par une procédure par dichotomique si `n` appartient à tableau trié `t`.

## 18.

In [5]:
def somme_carres(n):
    
    if n == 0:
        
        return 0
    
    else:
        
        return n**2 + somme_carres(n-1)

In [6]:
somme_carres(10)

385

In [7]:
# vérification

somme = 0

for i in range(10+1):
    
    somme += i**2
    
somme

385

## 19.

In [8]:
def tout_positif(tab, debut=0):
    
    if debut == len(tab):
        
        return True
    
    else:
        
        return tab[debut] > 0 and tout_positif(tab, debut + 1)

In [9]:
l1 = [1, -4, 8, 9, -12, 17, 21, 25, 90]
l2 = [1, 2, 3, 4]
l3 = [1]
l4 = [-1]
l5 = []

print("\nRecherches:")
print(tout_positif(l1, debut=0))
print(tout_positif(l2, debut=0))
print(tout_positif(l3, debut=0))
print(tout_positif(l4, debut=0))
print(tout_positif(l5, debut=0))

Recherches:
False
True
True
False
True

## 20.

In [10]:
def chercher(tab, x, debut=0):
    
    if debut == len(tab):
        
        return False
    
    else:
        
        return tab[debut] == x or chercher(tab, x, debut + 1)

In [11]:
l1 = [1, -4, 8, 9, -12, 17, 21, 25, 90]
l2 = [1]
l3 = []

print("\nRecherches dans l1:")
print(chercher(l1, 8, debut=0))
print(chercher(l1, 1, debut=0))
print(chercher(l1, 90, debut=0))
print(chercher(l1, -10, debut=0))

print("\nRecherches dans l2:")
print(chercher(l2, 1, debut=0))
print(chercher(l2, 2, debut=0))

print("\nRecherches dans l3:")
print(chercher(l3, 1, debut=0))

Recherches dans l1:
True
True
True
False

Recherches dans l2:
True
False

Recherches dans l3:
False

## 21.

In [12]:
# recherche dichotomique

def chercher2(tab, x):
    
    if len(tab) == 1:
        
        return tab[0] == x
    
    elif len(tab) == 0:
        
        return False
    
    else:
        
        return chercher2(tab[0: len(tab)//2], x) or chercher2(tab[len(tab)//2: ], x)

In [13]:
l1 = [1, -4, 8, 9, -12, 17, 21, 25, 90]
l2 = [1]
l3 = []

print("\nRecherches dans l1:")
print(chercher2(l1, 8))
print(chercher2(l1, 1))
print(chercher2(l1, 90))
print(chercher2(l1, -10))

print("\nRecherches dans l2:")
print(chercher2(l2, 1))
print(chercher2(l2, 2))

print("\nRecherches dans l3:")
print(chercher2(l3, 1))

Recherches dans l1:
True
True
True
False

Recherches dans l2:
True
False

Recherches dans l3:
False

## 22.

In [14]:
def fibo(n):
    
    if n == 0 or n == 1:
        
        return 1
    
    else:
        
        return fibo(n-1) + fibo(n-2)

In [15]:
for i in range(15):
    
    print(fibo(i), end=" ")

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610

- Non, cette fonction n'est pas efficace en terme de complexité.
- On peut l'améliorer en mémorisant les deux derniers éléments, comme suit:

In [16]:
def fibo2(n):
    
    if n == 0 or n == 1:
        
        return 1
    
    else:
        
        dernierEl = 1
        avantDernierEl = 1

        for i in range(2, n+1):
            
            x = dernierEl + avantDernierEl
            avantDernierEl = dernierEl
            dernierEl = x

        return dernierEl

In [17]:
for i in range(15):
    print(fibo2(i), end=" ")

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610

## 23.

In [18]:
def genererMotsDePasses(caracteres, k):
    
    if k == 0 or k == 1:
        
        return caracteres
    
    else:
        
        l = []
        
        for mot in genererMotsDePasses(caracteres, k-1):
            
            for c in caracteres:
                
                l.append(mot + c)
                
        return l

In [19]:
caracteres = ["a", "b"]

genererMotsDePasses(caracteres, 3)

['aaa', 'aab', 'aba', 'abb', 'baa', 'bab', 'bba', 'bbb']

In [20]:
caracteres = ["a", "b", "c"]

genererMotsDePasses(caracteres, 3)

['aaa',
 'aab',
 'aac',
 'aba',
 'abb',
 'abc',
 'aca',
 'acb',
 'acc',
 'baa',
 'bab',
 'bac',
 'bba',
 'bbb',
 'bbc',
 'bca',
 'bcb',
 'bcc',
 'caa',
 'cab',
 'cac',
 'cba',
 'cbb',
 'cbc',
 'cca',
 'ccb',
 'ccc']

## 24.

In [22]:
def generer_suites_croissantes(n, k):
    
    assert n >= k, "n must be larger than k"
        
    if n == 0 or k == 0:
        
        return [[]] # liste de listes
    
    elif k == n:
        
        return [list(range(1, n+1))] # liste de listes
    
    else:
        
        resultat = generer_suites_croissantes(n-1, k)
        suite_tmp = generer_suites_croissantes(n-1, k-1)
        
        for l in suite_tmp:
                    
            resultat.append(l + [n])
                
        return resultat

In [24]:
generer_suites_croissantes(5, 3)

[[1, 2, 3],
 [1, 2, 4],
 [1, 3, 4],
 [2, 3, 4],
 [1, 2, 5],
 [1, 3, 5],
 [2, 3, 5],
 [1, 4, 5],
 [2, 4, 5],
 [3, 4, 5]]

## 28.

In [2]:
G= [ [ 3 , 0 , 0 , 4 , 1 , 0 , 0 , 8 , 7 ],
[ 0 , 0 , 9 , 0 , 0 , 5 , 0 , 6 , 0 ],
[ 4 , 0 , 0 , 7 , 9 , 0 , 5 , 0 , 3 ],
[ 0 , 7 , 3 , 2 , 4 , 0 , 0 , 0 , 0 ],
[ 0 , 0 , 0 , 0 , 0 , 0 , 0 , 0 , 0 ],
[ 0 , 0 , 0 , 0 , 7 , 8 , 2 , 4 , 0 ],
[ 6 , 0 , 2 , 0 , 8 , 3 , 0 , 0 , 5 ],
[ 0 , 5 , 0 , 1 , 0 , 0 , 3 , 0 , 0 ],
[ 1 , 3 , 0 , 0 , 2 , 4 , 0 , 9 , 6 ] ]

In [3]:
G

[[3, 0, 0, 4, 1, 0, 0, 8, 7],
 [0, 0, 9, 0, 0, 5, 0, 6, 0],
 [4, 0, 0, 7, 9, 0, 5, 0, 3],
 [0, 7, 3, 2, 4, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 7, 8, 2, 4, 0],
 [6, 0, 2, 0, 8, 3, 0, 0, 5],
 [0, 5, 0, 1, 0, 0, 3, 0, 0],
 [1, 3, 0, 0, 2, 4, 0, 9, 6]]

In [13]:
[G[0:3][i][0:3] for i in range(3)]

[[3, 0, 0], [0, 0, 9], [4, 0, 0]]

In [45]:
def grille_valide(G):
    
    N = len(G)
    res = True
    
    for i in range(N):
        
        # lignes
        ligne = G[i]
        
        for i in range(1, N+1):
            if ligne.count(i) != 1:
                res = False
                return res
            
        # colonnes
        col = G[i:]
        
        for i in range(1, N+1):
            if col.count(i) != 1:
                res = False
                return res
        
        # sous-grilles
        n = N ** 0.5
        
        for i in range(0, N, n):
            for j in range(0, N, n):

                g = [G[i:i+n][k][j:j+n] for k in range(n)] # sous-grille
                print(g)
                if not grille_valide(g):
                    return grille_valide(g)

In [ ]:
grille_valide(G)

In [46]:
N, n = 9, 3

for i in range(0, N, n):
    for j in range(0, N, n):

        g = [G[i:i+n][k][j:j+n] for k in range(n)] # sous-grille
        print(g)

[[3, 0, 0], [0, 0, 9], [4, 0, 0]]
[[4, 1, 0], [0, 0, 5], [7, 9, 0]]
[[0, 8, 7], [0, 6, 0], [5, 0, 3]]
[[0, 7, 3], [0, 0, 0], [0, 0, 0]]
[[2, 4, 0], [0, 0, 0], [0, 7, 8]]
[[0, 0, 0], [0, 0, 0], [2, 4, 0]]
[[6, 0, 2], [0, 5, 0], [1, 3, 0]]
[[0, 8, 3], [1, 0, 0], [0, 2, 4]]
[[0, 0, 5], [3, 0, 0], [0, 9, 6]]

In [39]:
grille_valide(G)

False

In [4]:
def sudoku(G):
    
    N = len(G)
    
    for i in range(N):
        for i in range()

In [5]:
sudoku(G)